*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: rgba(65, 146, 82, 0.815);

}

a {

    color: rgb(221, 241, 164);

}


main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.button {
    width: 80px;
}